<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="{{url_for('static', filename='master.css') }}">
    <link rel="stylesheet" type="text/css" href="../static/semantic.css">
    <script
      src="https://code.jquery.com/jquery-3.1.1.min.js"
      integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
      crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="https://cdn.jsdelivr.net/gh/moonspam/NanumSquare@1.0/nanumsquare.css">
    <link rel="stylesheet" href="../static/master.css">

    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>

    <meta charset="utf-8">
    <title>Roy Park</title>
  </head>
  <body>
    <script src="../static/semantic.js"></script>

    <h1 class="ui center aligned header">Roy Park</h1>
    <h5 class="ui center aligned header">KATUSA | English Teacher | Developer </h5>
    <br>


    <div class="ui attached stackable menu">
      <div class="ui container">
          <a class="item" href="{{ url_for("core.index") }}">
            <i class="home icon" ></i> Home
          </a>

        <a class="item">
           KATUSA
        </a>
        <a class="item">
          English Teacher
        </a>
        <!-- <div class="ui simple dropdown item">
          More
          <i class="dropdown icon"></i>
          <div class="menu">
            <a class="item"><i class="edit icon"></i> Edit Profile</a>
            <a class="item"><i class="globe icon"></i> Choose Language</a>
            <a class="item"><i class="settings icon"></i> Account Settings</a>
          </div>
        </div> -->

        <div class="right item">
          <div class="ui input"><input type="text" placeholder="Search..."></div>
        </div>
      </div>
    </div>
  </div>


<div class="ui sidebar inverted vertical menu">
  <a href="#" class="item">1</a>
  <a href="#" class="item">2</a>
</div>

    <!-- <div class="ui stackable menu">
      <a class="item">Browse</a>
      <a class="blue item">Submit</a>
      <a class="red item">Sign Up</a>
      <a class="red item">Help</a>
    </div> -->
    <br>
<div class="ui container">
{%block contents%}


{%endblock%}
<br>
</div>
      <div class="ui inverted vertical footer segment">
        <div class="ui container">
          <div class="ui stackable inverted divided equal height stackable grid">
            <div class="three wide column">
              <h4 class="ui inverted header">About</h4>
              <div class="ui inverted link list">
                <!-- <a href="#" class="item">Sitemap</a> -->
                <a href="{{ url_for("core.contact") }}" class="item">Contact Me</a>
              </div>
            </div>

            <div class="five wide column">
              <h4 class="ui inverted header">Meet Roy</h4>
              <button type="button" name="button" class="ui yellow button" onclick=" window.open('https://kmong.com/gig/145109','_blank')"target="_blank">Kmong</button>
              <button class="ui youtube button" onclick=" window.open('https://www.youtube.com/channel/UCFIDs31YcGTjb_R7j0owV5w?view_as=subscriber','_blank')"target="_blank" >
                <i class="youtube icon"></i>
                YouTube
              </button>
            </div>
            <div class="four wide column">
              <h4 class="ui inverted header">Services</h4>
              <div class="ui inverted link list">
                <a href="#" class="item">Banana Pre-Order</a>
                <a href="#" class="item">DNA FAQ</a>
                <a href="#" class="item">How To Access</a>
                <a href="#" class="item">Favorite X-Men</a>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>

  </body>
</html>
